@model Patient
@{
    ViewData["Title"] = "Patient Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Patient Dashboard</h1>
    <p>Username: @Model.User.Username</p>
    <p>Not sure what to put here yet.</p>
</div>