@model Admin

@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Admin Dashboard</h1>
    <p>Username: @Model.User.Username</p>
    <p>Not sure what to put here yet.</p>
</div>