@model Admin

@{
     ViewData["Title"] = "Administrator Dashboard";
}

<style>

    .main-content-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .user-list-section, .user-info-section {
        border: 2px solid #333;
        padding: 10px;
        position: relative;
        min-height: 350px;
        max-width: 600px;
    }

    #GetUserItems {
        height: 450px;
        width: 100%;
    }

    .user-listbox {
        height: 100%;
        overflow-y: scroll;
    }

    .user-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .user-title {
        font-weight: bold;
    }

    .user-grid {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px 20px;
    }

    .user-item {
        font-size: 0.9rem;
    }

        .user-item span {
            display: flex;
            align-items: center;
            gap: 5px;
        }

    .usertype {
        height: 30px;
        max-width: contain;
    }


    .help-icon {
        width: 16px;
        height: 16px;
        border: 1px solid #333;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        cursor: help;
    }

    .btn-layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 20px;
    }

    .create-btn, .edit-btn, .delete-btn {
       
        background: #cca808;
        border: 2px solid #333;
        font-weight: bold;
        cursor: pointer;
        width: 100px;
        height: 40px;
    }

        .view-details-btn:hover {
            background: #e7e07b;
        }

</style>

<div class="container-fluid">
    <div class="dashboard-header">
        <div class="dashboard-title-section">
            <div>
                <h1>Administrator Dashboard</h1>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("UserSelected", "Admin", FormMethod.Post, new { id = "UserForm" }))
{
    <div class="main-content-layout">

            <div class="user-list-section">
                <div class="user-header">
                    <div class="user-title">User data</div>
                </div>
                <div class="user-listbox">
                @Html.DropDownListFor(m => m.SelectedUserItem.Value, Model.GetUserItems, new { size = 20, style = "width:100%;", onchange = "document.getElementById('UserForm').submit();" })
                </div>
            </div>

            <div class="user-info-section">
                <div class="user-header">
                    <div class="user-title">Selected User Info</div>
                </div>
                <div class="user-grid">
                    <div class="user-item">Username: <span id="username">@Model.User.Username</span></div>
                    <div class="user-item">Email: <span id="email">@Model.User.Email</span></div>
                    <div class="user-item">User type: <span id="usertype">@Model.User.UserType.ToString()</span></div>
                    <div class="btn-layout">
                        <div>
                            <button class="create-btn" id="createBtn">Create</button>
                        </div>

                        <div>
                            <button class="edit-btn" id="editBtn">Edit</button>
                        </div>

                        <div>
                            <button class="delete-btn" id="deleteBtn">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
}

<script>
    function UserboxChanged() {
        var selectBox = document.getElementById("GetUserItems");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        var userDetails = selectedValue.split('|');
        alert('hi there');
    }
</script>