@model List<PressureMonitor.Controllers.PatientController.Alert>


<div class="container mt-4">
    <h1>Data View Dashboard</h1>
    <p>This page does not work as intended. Left in the project for proof of work</p>
  
    @*This if statement is used to see if there are any alerts present in the model*@
    @if (Model?.Any() != true)
    {
        <p>No alerts detected.</p>
    }
    else
    {
        @*If one is detected, a suitable table with the desired data is presented to the user*@
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Frame Id</th>
                <th>Peak (value)</th>
                <th>Contact Area %</th>
                <th>Minimum (value)</th>
            </tr>
            </thead>
            <tbody>
          
            @*For each of the alerts detected, one row in the table will be added*@
            @foreach (var alert in Model)
            {
                var frame = alert?.Frame;
                <tr>
                    <td>@(frame?.Id.ToString() ?? "-")</td>
                    <td>@(frame?.PeakPressure.ToString() ?? "-")</td>


                    <td>@(frame != null ? frame.ContactAreaPercentage.ToString("0.##") : "-")</td>


                    <td>@(frame?.MinValue.ToString() ?? "-")</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>