@{
    ViewData["Title"] = "Login";
}

@model User


<style>

    .main-content-layout {
        display: grid;
        border: 2px solid #333;
        gap: 20px;
        grid-template-columns: 1fr;
        padding: 20px;
    }

</style>

<div class="text-center">
        <h1>Log in to your account</h1>
    
    <div class="main-content-layout">

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @TempData["Error"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form asp-action="HandleLogin" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" class="form-control form-control-lg" placeholder="Enter your username" required />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
                        
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control form-control-lg" placeholder="Enter your password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                       
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>
        
         </form>
    </div>
</div>